@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 100%);
    background: url(images/bg-pattern-top-mobile.svg) top no-repeat, url(images/bg-pattern-bottom-mobile.svg) bottom no-repeat;
}

.heading-main {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: hsl(300, 43%, 22%);
    margin: 90px 25px 15px 25px;
    padding: 0 5px;
    line-height: 34px;
}

.heading-paragraph {
    color: hsl(303, 10%, 53%);
    text-align: center;
    margin: 20px 6px;
    font-weight: 500;
}

.ratings-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(300, 24%, 96%);
    margin: 10px 15px;
    border-radius: 10px;
}

.rating-text p {
    width: 100%;
    padding: 0px 30px;
    font-weight: bold;
    text-align: center;
    color: hsl(300, 43%, 22%);
}

.rating-stars {
    margin: 15px 0px;
    display: flex;
    justify-content: center;
}

.rating-stars img {
    margin-right: 10px;
}


/* Section 3 */

.cards-wrapper {
    margin-top: 40px;
}

.cards {
    background-color: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

.customer-name {
    font-weight: 700;
}

.verified {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

.card-body {
    padding: 20px 40px;
    color: hsl(300, 24%, 96%);
}

.cards-header {
    display: flex;
    justify-content: flex-start;
    padding: 30px 40px 0px 40px;
}

.cards-header img {
    border-radius: 50%;
    width: 20%;
    height: 45px;
    margin-right: 20px;
    object-fit: cover;
}

.card-header-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    height: 45px;
    text-align: left;
}

@media (min-width: 376px) {
    body {
        background: url(images/bg-pattern-top-desktop.svg) top 0px left -200px no-repeat, url(images/bg-pattern-bottom-desktop.svg) bottom -35px right 0px no-repeat;
    }
    .sections-wrapper {
        display: flex;
        align-content: center;
        margin-top: 80px;
    }
    .heading-main {
        margin: 0px;
        width: 90%;
    }
    .heading-paragraph {
        width: 100%;
    }
    .section-2 {
        width: 60%;
        align-self: center;
    }
    .section-1 {
        width: 40%;
        margin-right: 60px;
    }
    .section-1>* {
        text-align: left;
    }
    .ratings-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .rating {
        flex-direction: row;
        justify-content: center;
        padding: 0px 15px;
        width: 75%;
        align-items: center;
        margin: 10px 10px;
    }
    .rating:first-child {
        margin-right: auto;
    }
    .rating:last-child {
        margin-left: auto;
    }
    .rating-text {
        text-align: left;
        display: flex;
        justify-content: center;
    }
    .rating-text p {
        padding-top: 12px;
    }
    .cards-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 52vh;
        margin-top: 50px;
    }
    .cards:first-child {
        align-self: flex-start;
    }
    .cards:last-child {
        align-self: flex-end;
    }
}